<section class="site-banner fluid" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url( @BannerImage.Src );">
    <div class="container text-light text-center">
        <h1 class="display-4">@Headline</h1>
        <p>@SubHeadline</p>
    </div>
</section>